@font-face{
  font-family:GloriaHallelujah;
  src:url("/fonts/GloriaHallelujah-Regular.ttf");
}
@font-face{
  font-family:ArchitectsDaughter;
  src:url("/fonts/ArchitectsDaughter-Regular.ttf");
}
@font-face{
  font-family:PermanentMarker;
  src:url("/fonts/PermanentMarker-Regular.ttf");
}

*{
  box-sizing: border-box;
  transition: 500ms;
}
:root{
  --article-width: 600px;
  --book-width: 450px;
  --red: red;
  --green: green;
}
nav{
  display: flex;
  justify-content: space-around;
}
nav > a{
  color: inherit;
}
nav > a:hover{
  color: var(--green);
}

article{
  max-width: var(--article-width);
  width: 100%;
  margin: 0 auto;
}
p, li{
  font-family: ArchitectsDaughter;
}
article > h1:first-child{
  text-align: center;
}
h1,h2,h3,h4,h5,h6, nav>a{
  font-family: PermanentMarker;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.9);
}
a, a > h1,a>h2,a>h3,a>h4,a>h5,a>h6{
  text-shadow: none;
  color: var(--green);
  text-decoration: none;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover{
  text-shadow: 2px 2px rgba(255, 0, 0, 0.9);
}
p a:hover, li a:hover{
  text-decoration: underline;
}
h1{
  font-size: min(56px,12vw);
}
h2{
  font-size: min(35px,12vw);
}
h3{
  font-size: min(30px,11vw);
}
h4,  nav>a{
  font-size: min(28px,11vw);
}
h5{
  font-size: min(23px,9vw);
}
h6{
  font-size: min(20px,9vw);
}
p,li{
  font-size: 20px;
}
p.warn{
  color: var(--red);
  weight: 700;
}
img.book.cover{
  width: 100%;
  max-width: var(--article-width)
}
img.icon{
  height: 36px;
  opacity: 0.5;
  padding: 0 0.5cm;
}
img.icon:hover{
  opacity: 1;
}
.title, .title > *{
  text-align: center;
}

/* Book list  */
section.book > div.text, section.book{
  min-height: var(--book-width);
  height: 100%;
  width: 100%;
}
section.book {
  max-width: var(--book-width);
  margin: 1vh auto;
  background: url("./uploads/default.jpeg") no-repeat center center;
  background-size: auto 100%;
}
section.book:hover{
  box-shadow: 0 0 10px 0 #15202b;
}
section.book > div.text{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.9);
  padding: 1vw;
}
section.book .text > *{
  text-align: center;
}
a.book{
  all:initial;
  /* text-decoration: none;
  color: inherit; */
}
a.book *:not(h1,h2,h3,h4,h5,h6){
  text-shadow: none;
}
@media only screen and (min-width: 1050px){
  section.book, div.text{
    position: relative;
  }
  section.book > div.text{
    background: none;
  }
  a.book:nth-child(odd) > section.book{
    left:50%;
  }
  a.book:nth-child(odd) > section.book > div.text{
    right: 100%;
  }
  a.book:nth-child(odd) > section.book > div.text > *{
    text-align:right;
  }
  a.book:nth-child(even) > section.book{
    right:50%;
  }
  a.book:nth-child(even) > section.book > div.text{
    left: 100%;

  }
  a.book:nth-child(even) > section.book > div.text > *{
    text-align:left;
  }
}
/* footer */
div.social{
  text-align: center;
}
