@font-face{
  font-family:GloriaHallelujah;
  src:url("/fonts/GloriaHallelujah-Regular.ttf");
}
@font-face{
  font-family:ArchitectsDaughter;
  src:url("/fonts/ArchitectsDaughter-Regular.ttf");
}
@font-face{
  font-family:PermanentMarker;
  src:url("/fonts/PermanentMarker-Regular.ttf");
}

*{
  box-sizing: border-box;
  transition: 500ms;
}
:root{
  --article-width: 600px;
  --book-width: 450px;
}
nav{
  display: flex;
  justify-content: space-around;
}
nav > a{
  color: inherit;
}
nav > a:hover{
  color: green;
}

article{
  max-width: var(--article-width);
  width: 100%;
  margin: 0 auto;
}
p, li{
  font-family: ArchitectsDaughter;
}
article > h1:first-child{
  text-align: center;
}
h1,h2,h3,h4,h5,h6, nav>a{
  font-family: PermanentMarker;
  text-shadow: 2px 2px rgba(255, 0, 0, 0.9);
}
a, a > h1,a>h2,a>h3,a>h4,a>h5,a>h6{
  text-shadow: none;
  color: green;
  text-decoration: none;
}
h1 > a:hover, h2 > a:hover, h3 > a:hover, h4 > a:hover, h5 > a:hover, h6 > a:hover{
  text-shadow: 2px 2px rgba(255, 0, 0, 0.9);
}
p a:hover, li a:hover{
  text-decoration: underline;
}
h1{
  font-size: min(56px,12vw);
}
h2{
  font-size: min(35px,12vw);
}
h3{
  font-size: min(30px,11vw);
}
h4,  nav>a{
  font-size: min(28px,11vw);
}
h5{
  font-size: min(23px,9vw);
}
h6{
  font-size: min(20px,9vw);
}
p,li{
  font-size: 20px;

}
img.icon{
  height: 36px;
  opacity: 0.5;
  padding: 0 0.5cm;
}
img.icon:hover{
  opacity: 1;
}
.title, .title > *{
  text-align: center;
}

/* Book list  */
section.book > div.text, section.book{
  min-height: var(--book-width);
  height: 100%;
  width: 100%;
}
section.book {
  max-width: var(--book-width);
  margin: 1vh auto;
  background: url("./uploads/default.jpeg") no-repeat center center;
  background-size: auto 100%;
}
section.book:hover{
  box-shadow: 0 0 10px 0 #15202b;
}
section.book > div.text{
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: space-around;
  background-color: rgba(255, 255, 255, 0.9);
}
section.book .text > *{
  text-align: center;
}
a.book{
  all:initial;
  /* text-decoration: none;
  color: inherit; */
}
a.book *:not(h1,h2,h3,h4,h5,h6){
  text-shadow: none;
}
