<div class="contacts">
  {% if site.facebook %}
  <a href="https://www.facebook.com/{{ site.facebook }}">
    <p>
      <img class="icon" src="{{'/logos/facebook.svg'|relative_url}}" title="Facebook" alt="Facebook page">
      Facebook
    </p>
  </a>
  {% endif %}
  {% if site.instagram %}
  <a href="https://instagram.com/{{ site.instagram }}">
    <p>
      <img class="icon" src="{{'/logos/instagram.svg'|relative_url}}" alt="Instagram page" title="Instagram">
      Instagram
    </p>
  </a>
  {% endif %}
  {% if site.telegram %}
  <a href="https://t.me/{{site.telegram}}">
    <p>
      <img class="icon" src="{{'/logos/telegram.svg'|relative_url}}" alt="Telegram broadcast" title="Telegram">
      Telegram
    </p>
  </a>
  {% endif %}
  {% if site.email %}
  <a href="mailto:{{ site.email }}">
    <p>
      <img class="icon" src="{{'/logos/email_icon.svg' | relative_url}}" alt="Send email to {{ site.email }}" title="Email">
      Email
    </p>
  </a>
  {% endif %}
  {% if site.twitter %}
  <a href="https://twitter.com/{{ site.twitter }}">
    <p>
      <img class="icon" src="{{'/logos/twitter.svg' | relative_url }}" alt="Twitter for {{ site.title }}" title="Twitter">
      Telegram
    </p>
  </a>
  {% endif %}
</div>
