<iframe class="hide" name="hiddenThing" src="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc4k9lZneqzzf_sc_Bs1nJzTRZPNECmXoDfiHtSHyUKU7MN-g/formResponse"></iframe>
<form target="hiddenThing" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSc4k9lZneqzzf_sc_Bs1nJzTRZPNECmXoDfiHtSHyUKU7MN-g/formResponse" method="POST">
  <label for="name">Full Name</label>
  <input type="text" name="entry.2005620554" id="name">
  <label for="email">Email</label>
  <input type="text" id="email" name="entry.1045781291">
  <label for="payment">Are you donating a book or paying £5?</label>
  <input type="radio" name="entry.839337160">
  <input type="radio" name="entry.839337160">
</form>
<script type="text/javascript">

</script>
