<form class="request-book" action="https://docs.google.com/forms/u/0/d/e/1FAIpQLSeikU_kFGEhjfSUhxsai1g4JRHbDBx-sHwafwjVwpG7ghBs0w/formResponse" method="POST">
  {% if page.layout == "books" %}
   <input type="text" name="entry.346923274" value="{{ page.title }}" hidden>
  {% else %}
  <select class="book-title" name="entry.346923274">
    {% for book in site.books %}
      <option value="{{ book.title }}">{{ book.title }}</option>
    {% endfor %}
  </select>
  {% endif %}<br>
  <label for="request-form-email">Email</label>
  <input id="request-form-email" type="email" name="entry.1046261189" required>
  <button type="submit" name="button">Request this book</button>
</form>
