---
layout: page
autopages:
  enabled: true
  permalink: '/books/:tag/'
  collection: books
---

{% if page.pagination.enabled %}
  {% assign books = paginator.posts %}
{% else %}
  {% assign books = site.books %}
{% endif %}
{% comment %}
<section class="Library-Tag-Selector">
  {% for my_page in site.pages %}
    {% if my_page.title and my_page.autogen == nil and my_page.autopage != nil %}
      <a class="page-link" href="{{ my_page.url | relative_url | remove: "index.html" }}">{{ my_page.title | escape | capitalize }}</a> |
    {% endif %}
  {% endfor %}
</section>
{% endcomment %}

{{ content | markdownify  }}
<input type="text" id="search-input" placeholder="Search...">
<section class="books" id="results-container">
  {% for book in books %}
    {% include books.html book=book %}
  {% endfor %}
</section>
