---
layout: post
---
{% if page.taken %}
  <p class="warn">This book is being read, or we forgot to change this message</p>
{% endif  %}
<section class="title">
  <h2><a href="mailto:{{ site.email }}?subject=Request%20for%20{{ page.title }}&body=Hi%20ACA%20Books%20admins%2C%0A%0ACould%20I%20please%20take%20out%20{{ page.title }}%0A%0AName%3A%20">
    Request this book
  </a></h2>
</section>
{% if page.image %}
  <img class="book cover" src="{{ page.image | relative_url }}" alt="Image: front cover of {{ page.title }}"">
{% endif %}
{{ content }}
{% if page.image_back %}
  <img class="book cover" src="{{ page.image_back | relative_url }}" alt="Image: back cover of {{ page.title }}"">
{% endif %}
