---
layout: page
---
<article>
  <section class="title">
    <p>
      <strong>
        {{ page.excerpt }}
      </strong>
    </p>
    <p><em>{{ page.date | date_to_string }}</em></p>
  <span class="share">
    <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}"><img class="icon" src="{{'/logos/facebook.svg'|relative_url}}" title="Facebook" alt="Share to Facebook"></a>
    <a target="_blank" href="https://twitter.com/intent/tweet?url={{ site.url }}{{ page.url }}"><img class="icon" src="{{'/logos/twitter.svg'|relative_url}}" title="Twitter" alt="Share on Twitter"></a>
  </span>
  </section>
  {{ content }}
</article>
